@page "/"

<h1>Generate .editorconfig files for Roslyn Analyzers!</h1>

<div class="form-group">
    <label><input type="checkbox" @bind="@_includeTitle" /> Include title</label>
</div>

<div class="form-group">
    <label><input type="checkbox" @bind="_includeHelpLink" /> Include help link</label>
</div>

<div class="form-group">
    <label>Select an assembly (dll)</label>
    <InputFile OnChange="@OnInputFileChange" />
</div>

@if (_error != null)
{
<pre>@_error</pre>
}

@if (_text != null)
{
<pre>@_text</pre>
}

